<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Shell Project</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>

<h1>
    <div class="h1_to_right">
        <p>Creative</p>
    </div>
    <div class="centered">
        Shell
    </div>
    <div class="h1_to_right">
        <p>Project</p>
    </div>
</h1>


<ul id="heritage-list">

</ul>

<button id="load-more-button" style="display: none;">Load More</button>

<script src="static/load_more_heritages_script.js"></script>
<footer>
    <div class="centered">Contacts: Telegram, Instagram, Twitter, Facebook, LinkedIn</div>
</footer>
</body>
</html>