div.about {
    background-color: #f86434;
    font-size: 1.2em;
    width: 100%;
    color: white;
}

.left {
    padding-top: 30px;
    max-width: 40%;
    margin-left: 15%;
}

.right {
    padding-bottom: 30px;
    max-width: 40%;
    margin-left: 35%;
}