.heritages {
    text-align: center;
    font-size: 2em;
}

.heritages ul {
    max-width: 100%;
    list-style-type: none;
    padding: 100px;
}

.heritages li {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.heritages li img {
    margin-left: 20px;
    max-width: 40%;
}
