h1.to_left {
    max-width: 100%;
    font-size: 5em;
    margin: 0;
    background-color: #c0bbbb;
    padding: 20px;
    height: 100px;
    align-items: center;
    display: flex;
    text-indent: 140%;
}

h1.to_right {
    max-width: 100%;
    font-size: 5em;
    margin: 0;
    background-color: rgb(192, 187, 187);
    text-indent: 130%;
    height: 100px;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
}
